include *.md
include requirements.txt
include .env.example
include *.py
include *.sh
include *.yaml
include *.json
include *.html
recursive-include skincare_ai *
recursive-include accounts *
recursive-include articles *
recursive-include quiz *
recursive-include routines *
recursive-include tracker *
recursive-include chatbot *
recursive-include templates *
recursive-include static *
recursive-include media *
